<h3>
  {{image.name}} by {{image.creator_ID}} <br>
  {{image.created_Date}}
</h3>
<img src="{{image.imgURL}}" alt="{{imgLink}}" width="250">

{{#if message}}
  <p>{{message}}</p>
{{/if}}

<ol>
{{#each image.captions}}
  <p>{{this.caption}} &nbsp
    <input type="button" class="caption-up-vote-button" id={{this}} value="I like!">
  </p>
{{/each}}
</ol>

<!-- AJAX Javascript for handling when an upvote button is clicked-->
<script>
  const upBtns = document.getElementsByClassName("caption-up-vote-button");
  Array.prototype.forEach.call(upBtns, function(ele) {
    ele.addEventListener('click', function() {
        console.log(ele.id + "-clicked!");
    })
  });
</script>

<h3>Add your touch!</h3>
<form method="POST" action="">
    Caption: <input type="text" name="caption" value=""> <br>
    <input type="submit" value="Add">
    <br><br>
</form>
