<link href="../css/base.css" type="text/css" rel="stylesheet">

<div class=image-capbox>
  <h3>
    {{image.name}}<br>
    by {{image.creator_ID}} <br>
    <t>{{image.created_Date}}</t>
  </h3>
  <img src="{{image.imgURL}}" alt="{{imgLink}}" width="250">
</div>

<div class=captions>
  <ol>
  {{#each captions}}
    <p style="display:inline">{{this.caption}}
      <input type="button" class="caption-up-vote-button" id={{this.id}} value="me like"> &nbsp 🤩
    </p>
    <p class="captionVotes" id="{{this.id}}_UP" style="display:inline">{{this.score}}</p>
    <br>
  {{/each}}
  </ol>
</div>

{{#if session.passport.user}}
<div class="add-caption">
  <h3>ADD A CAPTION</h3>
  <form method="POST" action="">
      <input type="text" name="caption" value=""> <br><br>
      <input type="submit" value="post"> <br><br>
  </form>
</div>
{{/if}}

<!-- AJAX Javascript for handling when an upvote button is clicked-->
<script>
  document.addEventListener('DOMContentLoaded', main);
  function main(){
    const upBtns = document.getElementsByClassName("caption-up-vote-button");
    Array.prototype.forEach.call(upBtns, function(ele) {
      	ele.addEventListener('click', function() {
          console.log(ele.id + "-clicked!");
          const upCaptionId = ele.id+"_UP";
          const currUpCaption = document.getElementById(upCaptionId);
          currUpCaption.textContent = parseInt(currUpCaption.textContent)+1;
          const req = new XMLHttpRequest();
          req.open("POST", "/img/{{image.slug}}", true);
          req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          req.send(`cap_id=${ele.id}`);
      });
    });
    //Check if caption box is filled in, if not send error message and do nothing
    const captionInput = document.querySelector("input[type='text']");
    const captionSubmitBtn = document.querySelector("input[type='submit']");

    captionSubmitBtn.addEventListener('click', function(e){
      const errMsg = document.querySelector("h3.errMsg");
      if (errMsg){
        errMsg.remove();
      }
      //Error check if information is complete, stop post
      if (captionInput.value===''){
        e.preventDefault();
        console.log("Caption not entered");
        const errMsg = document.createElement("h3");
        errMsg.className = "errMsg";
        errMsg.textContent = "Please enter a caption";
        const captionBox = document.querySelector("div.captions");
        captionBox.insertBefore(errMsg, captionBox.firstChild);
      }
    });
  }
</script>
