<div class="filter">
  <form class="filter-bar" method="GET" action="">
    <input type="text" id="query" name="filterQuery" placeholder="Enter tags">
    <input type="submit" value="Filter">
  </form>
</div>


{{#each imgList}}
  <div class="image-box">
    <h3>
      {{this.name}}&nbsp by {{this.creator_ID}}<br>
      <t>{{this.created_Date}}</t>
    </h3>
    <a href="/img/{{this.slug}}">
      <img src="{{this.imgURL}}" alt="link" width="250">
    </a>
    <br>
    <input type="button" class="img-up-vote-button" id={{this._id}} value="YAS!">
    <br>
    🔥
    <p class= "fireCt" id="{{this._id}}_fire" style="display:inline">{{this.score}}</p>
  </div>
{{/each}}

<!-- AJAX Javascript for handling when an upvote button is clicked-->
<script>
  const upBtns = document.getElementsByClassName("img-up-vote-button");
  Array.prototype.forEach.call(upBtns, function(ele) {
    ele.addEventListener('click', function() {
        // Update vote count to database, and display it for client
        console.log(ele.id + "-clicked!");
        const fireId = ele.id+"_fire";
        const currF = document.getElementById(fireId);
        console.log(currF); //debug - determine if correct element is accessed
        currF.textContent = parseInt(currF.textContent)+1; //display to client
        const req = new XMLHttpRequest();
        req.open("POST", "/", true);
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        req.send(`img_id=${ele.id}`);
    });
  });
</script>
