<div class="profile">
  <h2>Hey {{user.displayName}}!</h2>
  <h3>your track record</h3>
  <ul>
    {{#each user.history}}
      <li>
        {{this.type}} at {{this.date}}-<a href="{{this.link}}">{{this.content}}</a>
      </li>
    {{/each}}
  </ul>
</div>
<!--
<h3>Your Image votes</h3>
{{#each sampleUser.imgVotes}}
  <li>
    <a href="{{this.link}}">{{this.name}}</a>
  </li>
{{/each}}

<h3>Your Caption votes</h3>
{{#each sampleUser.captionVotes}}
  <li>
    <a href="{{this.link}}">{{this.name}}</a> - {{this.caption}}</a>
  </li>
{{/each}}
-->
