<h2>Name: {{session.passport.user.displayName}}</h2>

<ol>
  <h3>Your usage history</h3>
  {{#each session.passport.user.history}}
    <li>
      <p>{{this.type}} at {{this.date}}-<a href="{{this.link}}">{{this.content}}</a></p>
    </li>
  {{/each}}
</ol>
<!--
<h3>Your Image votes</h3>
{{#each sampleUser.imgVotes}}
  <li>
    <a href="{{this.link}}">{{this.name}}</a>
  </li>
{{/each}}

<h3>Your Caption votes</h3>
{{#each sampleUser.captionVotes}}
  <li>
    <a href="{{this.link}}">{{this.name}}</a> - {{this.caption}}</a>
  </li>
{{/each}}
-->
